.container {
    margin-top: 2rem;
}

.title {
    color: #23d160;
}

.image img {
    border-radius: 10px;
}

.recipy-box {
    background-color: #e4e0e0;
    padding: 1.5rem;
    border-radius: 8px;
    color: #333;
}

.recipy-subtitle {
    color: darkgreen;
}

ul {
    list-style-type: disc;
    margin-left: 1rem;
}

li {
    margin-bottom: 0.5rem;
}

a.button {
    text-decoration: none;
}