.columns {
    margin-top: 5rem;
    /* Adds vertical spacing */
}

.box {
    background-color: #1a1a1a;
    /* Matches the dark theme */
    border-radius: 8px;
    padding: 2rem;
    color: #fff;
}

.box.label {
    color: #1a1a1a;
}

.title {
    color: #23d160;
}

.button {
    background-color: #23d160;
}

.button:hover {
    background-color: #20b050;
}