    .profile-title {
        margin-bottom: 1rem;
        color: #333;
    }
    
    .tabs.is-centered {
        margin-bottom: 1rem;
    }
    
    .box {
        background-color: #f5f5f5;
        padding: 1.5rem;
        border-radius: 8px;
        color: #333;
    }
    
    .notification {
        color: #fff;
        background-color: #ff3860;
    }
    
    .notification.is-info {
        background-color: #209cee;
    }
    
    strong {
        color: #4a4a4a;
    }